@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;600;800&display=swap');

*, :before, :after {
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    overflow: hidden;
}

.vertical-accordion-item {
    height: 85vh;
    position: relative;
    flex: 0.3;
    cursor: pointer;
    transition: 600ms ease-in-out;
}

.vertical-accordion-item:first-child {
    border-radius: 15px 0 0 15px;
}

.vertical-accordion-item:last-child {
    border-radius: 0 15px 15px 0;
}

.vertical-accordion-item {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.accordion-active {
    flex: 6;
}

.vertical-accordion-item h3 {
    color: #fff;
    position: absolute;
    top: 3rem;
    left: -.9rem;
    transform: rotate(-90deg);
    transition: 300ms ease-in;
    transition-delay: 130ms;
}

.accordion-active h3 {
    top: -1rem;
    font-size: 3rem;
    transform: rotate(0deg);
    transition: 300 ease-in;
    left: 3rem;
}


