@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;600;800&display=swap');

*, :before, :after {
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background: rgb(240, 236, 236);
    background: linear-gradient( 90deg, rgba(240, 236, 236, 1) 0%, rgba(200,207,205,0.5) 35%, rgba(217, 221, 221, 1) 100%); 
}

h1, h4 {
    text-align: center;
    color: hsl(0, 0%, 21%);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 85vw;
    margin: 0 auto;
    overflow: hidden;
}

.vertical-accordion-item {
    height: 70vh;
    position: relative;
    flex: 0.3;
    cursor: pointer;
    transition: 600ms ease-in-out;
}

.vertical-accordion-item:first-child {
    border-radius: 15px 0 0 15px;
}

.vertical-accordion-item:last-child {
    border-radius: 0 15px 15px 0;
}

.vertical-accordion-item {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.accordion-active {
    flex: 6;
}

.vertical-accordion-item h3 {
    color: #fff;
    position: absolute;
    top: 3rem;
    left: -.9rem;
    transform: rotate(-90deg);
    transition: 300ms ease-in;
    transition-delay: 130ms;
}

.accordion-active h3 {
    top: 1rem;
    font-size: 2rem;
    transform: rotate(0deg);
    transition: 300 ease-in;
    left: 3rem;
}

@media (max-width: 480px) {
    .accordion-active h3 {
        font-size: 1.5rem !important;
    }

    .vertical-accordion-item h3 {
        right: -.9rem;
        font-size: .8rem;
    }

    .vertical-accordion-item {
        flex: 0.3;
    }

    .accordion-active {
        flex: 2;
    }
}

@media (max-width: 768px) {
    .vertical-accordion-item h3 {
        right: -.9rem;
    }

    .vertical-accordion-item {
        flex: 0.3;
    }

    .accordion-active {
        flex: 3;
    }
}